@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap");
.App {
  text-align: center;
background-color:  #f9f8ff;
height: auto;
min-height: 53rem;
}
*{
  font-family: "Cairo";
}
a {
  color: #6c757d;
  text-decoration: none !important;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
  background-color:white;
}
#box-c {
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  display: flex;
  width: 360px;
  height: 109px;
  padding: 8px;
  border: 1px solid #e1e8f2;
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
}
#box-jobs {
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  display: flex;
  width: 360px;
  height: 8rem;
  padding: 8px;
  border: 1px solid #e1e8f2;
  border-radius: 10px;
  margin: 15px;
  overflow: hidden;
}
.img {
  float: right;
  width: 183px;
  height: 107px;
  overflow: hidden;
   margin-left: -9px;
    margin-top: -2px; 
  border-radius: 3px;
}
.img img {
  width: 100%;
}
.info h2 {
  background-color: white;
  text-align: left;
  margin-left: 22px;
  font-size: 19px;
  font-weight: bold;
  width: 92%;
  overflow: hidden;
  color: #00024d;
}
.info h3 {
  background-color:white;
  text-align: left;
  font-size: 15px;
  width: 81%;
  height: 49px;
  margin-left: 19px;
  overflow: hidden;
  font-weight: bold;
  color: #1d2023!important;
}
span {
  color: #d75866;
}
.destail {
  margin-left: 39px;
  margin-top: 9px;
  color: #d75866;
}
.img-job{
  float: right;
  	    width: 92px;
height: 108px;
overflow: hidden;
  border: 1px solid #e1e8f2;
  margin-left: -9px;
  margin-top: -9px;
  	    border-radius: 3px;
  }
  .img-job img{
    width: 81px;
  }
  #box{
   display: flex;
  width: 326px;
     height: 85px;
     padding: 8px;
     border: 1px solid #e1e8f2;
     border-radius: 10px;
    	    overflow: hidden;
    }
  col {
    background-color: rgb(247 247 247);
  }

  .box-header {
    width: 18rem;
}
  label#labalSkils {
    margin-right: 72px;
}
label#labalLink {
  margin-right: 169px;
}
label#labal {
  margin-right: 224px;
}
.headerAdmin {
  margin-top: 22px;
  margin-left: 7rem;
}
h1.h1Admin {
  margin-left: 8rem;
}
h1.h1Rejection {
  margin-left: 7rem;
}
h1.h1Acceptance {
  margin-left: 6rem;
}
label#labaskills {
  margin-right: 14rem;
}
input.FormEdit.form-control {
  background-color: #ced4da00;
  border: 0px solid #ced4da;
}
/*  admin  */



div#cardAdmin {
  box-shadow: 0 0 0.625rem 0 rgb(201 204 208 / 50%);
  height: 12rem;
  border-radius: 10px;

 
}
div#cardAdmin :hover {
        
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 
/*  */
.imgAdmin {
  width: 54px;
  margin-bottom: 12px;
  margin-top: 29px;
}


div#box-c {
  height: 13rem;
}

/* css img */
.img-log {
  margin-right: -26px;
}
  img.img-nav {
    width: 2.5rem;

}
.log {
  margin-left: 40px;
}
img.img-user {
  width: 34px;
  margin-right: -27px;
}
/*  */
.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d!important;
  text-align: left;
}
img.back {
  margin-top: 2rem;
  margin-right: 18rem;
  width: 2rem;
}
img.img-delet {
  margin-right: 3rem;
}